* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Arial;
    background: #d8d1cc;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #1e293b;
}


#summary {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.income { background: green; }
.expense { background: red; }
.balance { background: blue; }


button {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 5px;
}


#filters {
    margin: 15px 0;
    display: flex;
    gap: 10px;
}

select {
    padding: 8px;
}


table {
    width: 100%;
    background: lightgoldenrodyellow;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
}


.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: beige;
    padding: 20px;
    border-radius: 10px;
}


form input,
form select {
    width: 100%;
    margin: 5px 0;
}

form button {
    width: 48%;
}


.error {
    color: red;
    font-size: 12px;
}


.chart-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.chart-box {
    text-align: center;
}


.chart-box canvas {
    max-width: 300px;
    max-height: 250px;
    background: peachpuff;
    padding: 15px;
    border-radius: 12px;
}


.radio-group {
    display: flex;
    gap: 20px;
}